<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%- include('../includes/errorMessage.ejs') %>
        <%- include('../includes/infoMessage.ejs') %>
        <form class="login-form" action="/update-password" method="POST">
            <%- include("../includes/form-input.ejs", {
                id: "password",
                label: "New Password",
                type: "password",
                errorMessage: errorMessage ?? [],
                oldInput: oldInput ?? {}
            }) %>
            <%- include("../includes/form-input.ejs", {
                id: "confirmPassword",
                label: "Confirm Password",
                type: "password",
                errorMessage: errorMessage ?? [],
                oldInput: oldInput ?? {}
            }) %>
            <button class="btn" type="submit">Update Password</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="token" value="<%= token %>" />
        </form>
    </main>
<%- include('../includes/end.ejs') %>