<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%- include('../includes/errorMessage.ejs') %>
        <%- include('../includes/infoMessage.ejs') %>
        <form class="login-form" action="/login" method="POST">
            <%- include("../includes/form-input.ejs", {
                id: "email",
                label: "Email",
                type: "email",
                errorMessage: errorMessage ?? [],
                oldInput: oldInput ?? {}
            }) %>
            <%- include("../includes/form-input.ejs", {
                id: "password",
                label: "Password",
                type: "password",
                errorMessage: errorMessage ?? [],
                oldInput: oldInput ?? {}
            }) %>
            <button class="btn" type="submit">Login</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        </form>
        <div class="centered">
            <a class="reset-password__button" href="/reset-password">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>