<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <%- include('../includes/errorMessage.ejs') %>
            <%- include('../includes/infoMessage.ejs') %>
            <h1><%= product.title %></h1>
            <hr>
            <div>
                <img width="50%" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <% if (!product.wasDeleted) { %>
                <% if (typeof loggedIn !== "undefined" && loggedIn) { %>
                <%- include('../includes/add-to-cart.ejs') %>
                <% } %>
            <% } else { %>
                <%- include('../includes/remove-item.ejs', { product, route: "/cart/delete/" + product.id }) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>